<script id="alert-layout-template" type="text/x-handlebars-template">
    <div class="custom-modal modal-{{alert_platform}} alert-box-modal" id="{{alert_id}}">
            <div class="modal-ovserlay"></div>
            <div class="custom-modal-container">
                <div class="modal-title">
                    <h2>{{alert_title}}</h2>
                </div>
                <div class="modal-body">
                    {{{alert_body}}}
                </div>
                <div class="modal-btn-wrapper">
                    {{#if alert_btn}}
                        {{#each alert_btn}}
                            <button class="transaction-btn" {{#if this.attr}}{{#each this.attr}}{{this.name}}={{this.value}} {{/each}}{{/if}}><span>{{this.name}}</span></button>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
</script>