<script id="header-layout" type="text/x-handlebars-template">
    <div class="header-band"> 
        <!-- <span data-id="sidebar-left" class="hamburg-menu-btn material-icons menu-toggle">menu</span> -->
        <span class="activity-back-btn hide view-digibiz-back-button waves-effect cursor-pointer"><i class="material-icons">arrow_back</i></span>
        <div class="header-heading-name ellipsify"></div>
        <!-- <div class="header-logo">
          <a class="survey-logo-wrapper waves-effect"><div class="responsive-img logo-wrapper"></div></a>
        </div> -->
        <!-- <ul class="tabs-wrapper"> -->
          <!-- <li class="home-btn"><i class="material-icons">home</i></li>
          <li class="create-faq-btn"><i class="material-icons">add_circle_outline</i></li>
          <li class="published-btn"><i class="material-icons">public</i></li>          
          <li class="bookmarked-btn"><i class="material-icons">assignment</i></li> -->
        <!-- </ul> -->
        <div class="navigation-wrapper">
            <ul>    
              <li class="navbar-item">
                <a class="btn-save btn-mobile alert-card-link waves-effect cursor-pointer hide" id="app-permission-logs-btn">
                  <i class="material-icons">local_activity</i>
                </a>
              </li>                        
              <li class="navbar-item">
                <a class="btn-save btn-mobile alert-card-link waves-effect menu-toggle cursor-pointer hide" data-id="notifications_menu_toggle" id="my-notifications-menu">
                  <i class="material-icons">notifications</i>
                </a>
              </li>              
              <li class="navbar-item">
                <a class="navbar-link waves-effect menu-toggle p-{{imageLetter}} cursor-pointer hide" data-id="profile-menu-toggle" id="my-profile-menu">                    
                  <!-- <a class="navbar-link waves-effect profile-toggle" data-id="profile-menu-toggle" id="my-profile-menu"></a> -->
                      {{#if image_id}}
                          <span class="persona">{{imageLetter}}</span>
                          <img src="{{imageUrl}}" alt="avatar" class="mw50 br64 header-image">
                      {{else}}
                      <div class="table-profile-text text-small-size">
                          <span class="persona">{{imageLetter}}</span>
                      </div>
                      {{/if}}
                  </a>
              </li>
              <li class="navbar-item">
                <a class="hide digibiz-cancel-button waves-effect cursor-pointer">
                  <i class="material-icons">close</i>
                </a>
              </li>
            </ul>
        </div>
    </div>    
</script>