<script id="login-layout-web" type="text/x-handlebars-template ">
    <div class="login-bg">
        <div id="body-container" class="container">
            <!-- <div class="row"> -->
                <!-- <video class="vid hide-on-med-and-down" loop autoplay="autoplay">
                        <source src="./resources/videos/login/world_map_video.mp4" type="video/mp4">
                </video> -->
                <div class="no-pad">                    
                    <div class="login-container-box">
                        <div id="login-container"></div>
                    </div>
                </div>                
            <!-- </div> -->
        </div>
    </div>
</script>