<script id="delete-identifier-template" type="text/x-handlebars-template ">
    <div class="delete-identifier-message">Are you sure you want to delete the identifier? </div>
    <div class="delete-identifier-folder-delete-message">Do you want to delete files and folders from digibiz assests?</div>
    <div class="delete-identifier-folder-delete-radio-buttons-container">
        <p>            
            <input class="with-gap delete-identifier-folder-delete-no-radio-button" name="group1" type="radio" id="delete-identifier-folder-delete-no" checked />
            <label for="delete-identifier-folder-delete-no">No</label>
        </p>
        <p>           
            <input class="with-gap delete-identifier-folder-delete-yes-radio-button" name="group1" type="radio" id="delete-identifier-folder-delete-yes" />
            <label for="delete-identifier-folder-delete-yes">Yes</label>
        </p>
    </div>
</script>