<script id="communication-group-contact-list-customer-contact-template" type="text/x-handlebars-template">
    <div class="communication-groups-identifier-based-customer-contact-wrapper" data-id="{{contact.id}}">
        <div class="profile-pic-info-wrapper">                    
            <div class="communication-groups-identifier-based-contact-data-wrapper ellipsify">
                <div class="customer-contact-details-wrapper">
                <div class="customer-contact-name"><span class="truncate">{{#if contact.display_name}}{{contact.display_name}}{{else}}{{contact.name.first}} {{contact.name.last}}{{/if}}</span></div>
                {{#if contact.label}}
                    <div class="customer-label"><span class="truncate">Label: {{contact.label}}</span></div>
                {{/if}}
                {{#if contact.primaryCustomerData}}
                    <div class="associate-customer-info"><span class="truncate">{{contact.IdentifierName}} - {{#if contact.primaryCustomerData.display_name}}{{contact.primaryCustomerData.display_name}}{{else}}{{contact.primaryCustomerData.name.first}}&nbsp;{{contact.primaryCustomerData.name.last}}{{/if}}</span></div>
                {{/if}}
                </div>
                <div class="check-contact">
                    <input type="checkbox" class="filled-in cursor-pointer communication-group-customer-contact-select-btn" id="communication_{{contact.id}}" data-id="{{contact.id}}" data-type="{{contact.type}}"/>
                    <label for="communication_{{contact.id}}"></label>
                </div>
            </div>
        </div>                            
    </div>
</script>