<script id="multimedia-editor-template" type="text/x-handlebars-template">
    <div class="celfe-editor-container">
        <div class="header-wrapper"><div class="editor-close" id="editor-close"><span class="material-icons">close</span></div></div>
        <div class="celfe-editor-wrapper">
            <div class="edit-btn-wrapper">
                <ul>
                    <li id="editor-crop-btn"><span class="material-icons">crop</span>Crop</li>
                    <li id="editor-addtext-btn"><span class="material-icons">text_fields</span>Text</li>
                    <li id="editor-addsticker-btn"><span class="material-icons">insert_emoticon</span>Sticker</li>
                    <li id="editor-addborder-btn"><span class="material-icons">crop_square</span>Border</li>
                    <li id="editor-addfilter-btn"><span class="material-icons">camera</span>Filters</li>
                </ul>
            </div>
            <div class="edit-option-container hide"></div>
            <div class="edit-image-container" id="main-image-wrapper">
                <div class="edit-image-wrapper"></div>
                <div class="editor-action-wrapper">                    
                    <div class="editor-caption-wrapper">
                        <div placeholder="Add Caption..." class="editor-caption-text" id="editor-caption-text" contenteditable="true"></div>
                    </div>
                    <div class="editor-action-buttons">
                        <button id="moment-send-btn"><span class="material-icons">send</span></button>
                        <button id="attach-new-multimedia" class="hide"><span class="material-icons">add</span></button>
                        <button id="cloud-attach-new-multimedia" class="hide"><span class="material-icons">add</span></button>
                    </div>
                </div>
            </div>

            <!--cropper-->
            <div class="edit-image-container hide" id="cropper-image-wrapper">
                <div class="edit-image-wrapper"></div>
                <div class="editor-action-wrapper">                    
                    <div class="editor-action-buttons">
                        <button id="cropper-cancel"><span class="material-icons">close</span></button>
                        <button id="cropper-crop"><span class="material-icons">crop</span></button>
                    </div>
                </div>
            </div>
            <!--Add Text-->
            <div class="edit-image-container hide" id="addtext-image-wrapper">
                <div class="editor-action-wrapper">
                    <!-- <div class="wrapper-dropdown font-type">
                        <span class="disabled selected-dropdown" name="category" data-value="">font Type</span>
                        <ul id="content" class="list custom-dropdown">
                  
                        </ul>
                    </div> -->
                    <!-- <input class="none" type="range" min="25" max="50" value="0" id="fader" step="1" >                    -->
                    <div class="editor-action-buttons">
                        <button id="text-color"><span class="material-icons">color_lens</span></button>
                        <button id="text-style"><span class="material-icons">format_size</span></button>
                        <button id="text-size"><span class="material-icons">text_format</span></button>
                    </div>
                </div>
                <div class="test">
                    <canvas id="imageCanvas"></canvas>
                    <div class="filter-wrapper"></div>
                </div>
                <div class="editor-action-wrapper">                    
                    <div class="editor-action-buttons">
                        <button id="cancel-text"><span class="material-icons">close</span></button>
                        <button id="save-text"><span class="material-icons">save</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-option-container hide"></div>
        <!-- <div class="edit-image-container"></div> -->
    </div>
</script>