@forward "splashscreen";
@forward "profile-bg-color";
@forward "animate";
@forward "search";
@forward "component";
@forward "thinScroll";
@forward "viewer";
@forward "filemanager";
@forward "notch";
@forward "intlTelInput";