@use "../abstracts"as profilebgColor;
/* letter base color */

.business-display-pic,
.navbar-link.menu-toggle,
.profile-pic-container,
.digibiz-account-profile-pic-container {

    &.p-,
    &.p-1,
    &.p-2,
    &.p-3,
    &.p-4,
    &.p-5,
    &.p-6,
    &.p-7,
    &.p-8,
    &.p-9,
    &.p-0 {
        background-color: #fae6fa !important;
        color: rgb(126, 7, 90);

        a {
            color: rgba(255, 255, 255, 1) !important;
        }
    }

    &[class*="p-"] {
        background-color: #fde0fb;

        span {
            &.persona {
                font-size: 1.2rem !important;
                font-weight: 600;
                color: #740962 !important;
            }
        }

        a {
            color: rgba(255, 255, 255, 1) !important;
        }

        &::after {
            content: "";
            box-shadow: 0 0 2px 2px inset rgba(50, 0, 0, 0.15);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @include profilebgColor.bd-radius(50%);
        }
    }

    &.p-A,
    &.p-a {
        background-color: #ffdadd !important;

        span {
            &.persona {
                color: #e32636 !important;
            }
        }
    }

    &.p-B,
    &.p-b {
        background-color: #e6c1cc !important;

        span {
            &.persona {
                color: #e32636 !important;
            }
        }
    }

    &.p-C,
    &.p-c {
        background-color: #faeecb !important;

        span {
            &.persona {
                color: #e3b726 !important;
            }
        }
    }

    &.p-D,
    &.p-d {
        background-color: #edfcbd !important;

        span {
            &.persona {
                color: #90b615 !important;
            }
        }
    }

    &.p-E,
    &.p-e {
        background-color: #bffdbf !important;

        span {
            &.persona {
                color: #0bd40b !important;
            }
        }
    }

    &.p-F,
    &.p-f {
        background-color: #fad9e1 !important;

        span {
            &.persona {
                color: #800020 !important;
            }
        }
    }

    &.p-G,
    &.p-g {
        background-color: #fcd3b6 !important;

        span {
            &.persona {
                color: #cc5500 !important;
            }
        }
    }

    &.p-H,
    &.p-h {
        background-color: #f8d6d3 !important;

        span {
            &.persona {
                color: #ce481f !important;
            }
        }
    }

    &.p-I,
    &.p-i {
        background-color: #ffd0f6 !important;

        span {
            &.persona {
                color: #bd33a4 !important;
            }
        }
    }

    &.p-J,
    &.p-j {
        background-color: #d8b7d2 !important;

        span {
            &.persona {
                color: #b30893 !important;
            }
        }
    }

    &.p-K,
    &.p-k {
        background-color: #bdddf5 !important;

        span {
            &.persona {
                color: #389ae6 !important;
            }
        }
    }

    &.p-L,
    &.p-l {
        background-color: #b4e4cf !important;

        span {
            &.persona {
                color: #05ad65 !important;
            }
        }
    }

    &.p-M,
    &.p-m {
        background-color: #fce7d4 !important;

        span {
            &.persona {
                color: #ed872d !important;
            }
        }
    }

    &.p-N,
    &.p-n {
        background-color: #d3d6e9 !important;

        span {
            &.persona {
                color: #0727dd !important;
            }
        }
    }

    &.p-O,
    &.p-o {
        background-color: #d8e0fa !important;

        span {
            &.persona {
                color: #2a52be !important;
            }
        }
    }

    &.p-P,
    &.p-p {
        background-color: #e3e7f1 !important;

        span {
            &.persona {
                color: #1e41a0 !important;
            }
        }
    }

    &.p-Q,
    &.p-q {
        background-color: #fcece0 !important;

        span {
            &.persona {
                color: #a0785a !important;
            }
        }
    }

    &.p-R,
    &.p-r {
        background-color: #eedcc8 !important;

        span {
            &.persona {
                color: #f78d1d !important;
            }
        }
    }

    &.p-S,
    &.p-s {
        background-color: #cbfbf9 !important;

        span {
            &.persona {
                color: #029c97 !important;
            }
        }
    }

    &.p-T,
    &.p-t {
        background-color: #dac4b5 !important;

        span {
            &.persona {
                color: #a84e0d !important;
            }
        }
    }

    &.p-U,
    &.p-u {
        background-color: #faeee2 !important;

        span {
            &.persona {
                color: #b87333 !important;
            }
        }
    }

    &.p-V,
    &.p-v {
        background-color: #ebc6bc !important;

        span {
            &.persona {
                color: #ff3800 !important;
            }
        }
    }

    &.p-W,
    &.p-w {
        background-color: #fce6dd !important;

        span {
            &.persona {
                color: #ff7f50 !important;
            }
        }
    }

    &.p-X,
    &.p-x {
        background-color: #dfced0 !important;

        span {
            &.persona {
                color: #893f45 !important;
            }
        }
    }

    &.p-Y,
    &.p-y {
        background-color: #fad4ae !important;

        span {
            &.persona {
                color: #893f45 !important;
            }
        }
    }

    &.p-Z,
    &.p-z {
        background-color: #e9bdfa !important;

        span {
            &.persona {
                color: #991492 !important;
            }
        }
    }
}


.status-- {
    &accepted {
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: green;
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
    &unassigned {
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: rgba(197, 171, 114,1);
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
    &active {
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: rgb(75, 230, 61);
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
    &inactive {
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: rgb(90, 90, 90);
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
    &pending {
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: rgba(252, 172, 80,1);
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
    &draft {
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: rgb(166, 137, 185);
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
    &exited { 
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: red;
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
    &deleted {
        display: inline-flex;
        justify-content: center;
        font-size: .7rem;
        font-weight: 600;
        padding: 0 8px;
        background-color: rgba(212, 5, 5,1);
        color: white;
        @include profilebgColor.bd-radius(20px);
    }
}

.information-wrapper {
    .information-data {
        @include profilebgColor.bd-radius(5px);
        > div {
            min-height: 60px;
            display: flex;
            align-items: center;
            margin-bottom: 1px;
            padding: 10px;
            @include profilebgColor.var(background-color, hubsliderbg, 1);
            div.status-- {
                &accepted, &inactive, &unassigned, &exited, &draft, &pending {
                    font-size: .75rem;
                    white-space: nowrap;
                    margin-right: 10px;
                    display: inline-flex;
                    padding: 4px 10px;
                    + div {
                        &:not([class]) {
                            font-size: .75rem;
                            
                        }
                    }
                }

            }
        }
    }
}

#customer-control-activity-logs {
    display: flex;
    flex-wrap: wrap;
    span {
        flex: 0 0 100%;
    }
}
// icon color


// .profile-page-menu li:nth-of-type(1) a i {
//     color: rgba(251,141,27,1);
// }
// .profile-page-menu li:nth-of-type(2) a i {
//     color: rgba(7, 199, 109,1);
// }

// .profile-page-menu li:nth-of-type(3) a i {
//     color: rgba(8, 163, 211,1);
// }

// .profile-page-menu li:nth-of-type(4) a i {
//     color: rgba(13, 152, 146,1);
// }

// .profile-page-menu li:nth-of-type(5) a i {
//     color: rgba(252, 74, 42,1);
// }
// .setting_page li:nth-of-type(6) i.material-icons,
// .profile-page-menu li:nth-of-type(6) a i {
//     color: rgba(42, 126, 252,1);
// }

// .profile-page-menu li:nth-of-type(7) a i {
//     color: rgba(42, 126, 252,1);
// }

// .profile-page-menu li:nth-of-type(8) a i {
//     color: rgba(13, 152, 146,1);
// }