@use "../abstracts" as search;
.expand-search-input, .expand-search-wrap {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 225ms cubic-bezier(0, 0, .2, 1) 0s;
    @include search.var(background-color, searchbarBgColor,1 );
    align-items: center;
    z-index: 5;
    @include search.bd-radius-top(5px 5px 0 0);
}
.searchbtn ~ .expand-search-wrap {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 225ms cubic-bezier(0, 0, .2, 1) 0s;
    // background-color: rgba(var(--tabWrapper),.99) !important;
    // @include search.var(background-color, tabWrapper,.99);
    align-items: center;
    z-index: 5;
    &.active {
        visibility: visible;
        opacity: 1;
        transform: scaleX(1);
        transform-origin: right center;
        padding-left: 10px !important;
        box-sizing: border-box;
        overflow: hidden;
        height: 60px;
        > .searchclosebtn {
            position: absolute;
            right: 0;
            opacity: 1;
            visibility: visible;
            display: none;
            width: 37px;
            height: 100%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            pointer-events: auto;
            top: 0;
            margin-right: 10px;
            display: flex !important;
            z-index: 5;
            i {
                @include search.var(color, whiteTextColor,1);
            }
        }
    }
    input[type="search"]:not(.browser-default) {
        margin: 0 !important;
        box-shadow: unset !important;
        @include search.var(color, whiteTextColor,1);
        position: absolute !important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        visibility: hidden;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: right center;
        transition: transform 225ms cubic-bezier(0, 0, .2, 1) 0s;
        background: rgba(var(--searchbarBgColor),1) !important;
        align-items: center;
        padding-left: 10px !important;
        border-bottom: unset !important;
        z-index: 5;
        &.searchexpand {
            visibility: visible;
            transform: scaleX(1);
            transform-origin: right center;
            opacity: 1;
            padding-left: 10px;
            box-sizing: border-box;
        }
    }
}

.expand-search-input[placeholder]:empty::before {
    font-size: 0.82rem;
    content: attr(placeholder);
    color: rgba(180, 180, 180, 1);
}