<script id="communication-group-contact-list-customer-list-level-two-data-template" type="text/x-handlebars-template">
<div class="communication-groups-identifier-based-customer-contacts-item-wrapper user-conatiner accordion-itemmm">
    <div class="accordion-titleee cursor-pointer" data-tab="{{item.id}}" data-type="contact_item" data-associate-customer-identifier-id="{{item.data.1.identifier_id}}">                
        <div class="contact-items-data-wrapper ellipsify">
            <div class="contact-item-name"><span class="truncate">{{item.name}}</span></div>             
        </div>     
        <span class="material-icons">expand_more</span>
    </div>

    <div class="accordion-contenttt" id="{{item.id}}" data-content-type="contact_item">
        
    </div> 
</div>
</script>