@use "../abstracts" as appInfo;
/* ***************************************** */
/* app info page */
/* ***************************************** */
.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(155deg, #b5f9e4 0%, #64f7ee 22%, #3fbba2 63%, #68a170 100%);
    background: url("https://resources.staging.digitaljeevi.com/images/background.jpg") no-repeat center/cover;
    text-align: center;
    img {
        position: absolute;
        max-width: 160px;
        height: auto;
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.text-container {
    width:100%;
    height: 50px;
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container::before{
    content: '';
    position: relative;
    width:40px;
    height:40px;
    background: url("../images/Spinner-1s-54px.svg") no-repeat center / 40px 40px;
}

/* ***************************************** */
/* app-info-main-container */
/* ***************************************** */
.app-info-main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* background: #007fae; */
}
.app-info-main-container .btn-back,
.app-info-main-container .app-info-btn-back {
    width: 40px;
    height: 40px;
    @include appInfo.bd-radius(50%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    top: 5px;
    left: 5px; */
    background-color: rgba(5,5,5,.3);
}
// .back-btn-wrapper {
//     opacity: 0;
// }
[platform="iOS"][app="jeevihub"] .back-btn-wrapper {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    position: fixed;
    top: 20px;
    left: 40px;
    display: flex;
    align-items: center;
    animation:back-btn-display 1s linear forwards; 
}
[platform="Android"][app="jeevihub"] .back-btn-wrapper,
[platform="browser"][app="jeevihub"] .back-btn-wrapper,
[platform="desktop"][app="jeevihub"] .back-btn-wrapper {
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    opacity: 1;
    animation:back-btn-display 1s linear forwards; 
}
[app="jeevihub"] .back-btn-wrapper span {
    // padding-left: 10px;
    color: rgba(255,255,255,1);
    text-shadow: rgb(0 0 0 / 90%) 0 1px 6px;
} 
.hub-btn-back {
    width: 40px;
    height: 40px;
    @include appInfo.bd-radius(50%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    top: 15px;
    left: 15px; */
    background-color: rgba(5,5,5,.3);
    cursor: pointer;
    pointer-events: auto;
}

.application-description {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.application-description > span {
    padding: 40px 15px 0 15px;
    color: #fff;
    flex: 1 1 0;
    text-align: center;
    font-size: .85rem;
    line-height: 1.4rem;
}
.next-btn-wrapper {
    width: 100%;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #112955;
}
.next-btn {
    width: 100%;
    height: 50px;
    background-color: unset;
    box-shadow: unset;
}
.application-description .img-wrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.application-description .img-wrapper > img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}