@use "../abstracts" as bizadmin;

.create-post-wrapper {
    @include bizadmin.var(background-color, cardBackground, .9);
    position: relative;
    display: flex;
    flex-flow: column;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), .2);
    box-shadow: 0 2px 25px -5px rgb(0 0 0 / 35%), inset 0 0 0 1px #0e4d45, inset 0 0 102px -28px rgb(19 125 112);
    @include bizadmin.bd-radius(10px);
    height: 100%;
    margin: 10px 10px 65px 10px;
}

.business-creation-parts-container>div {
    position: relative;
}

.business-contact-number-content-box,
.business-alternate-contact-number-content-box {
    position: relative;
}

.business-add-address-button-container {
    margin-top: 10px;
    margin-bottom: 8px;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}

.business-add-address-btn {
    margin-left: unset !important;
    flex: 1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
    margin: 0 10px;
    @include bizadmin.var(color, blackTextColor, 1);
    @include bizadmin.var(background-color, focused, 1);
    font-size: 0.85rem;
    @include bizadmin.bd-radius(20px);
    max-width: 150px;
    margin-left: auto;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

.multimedia_wrapper {
    position: relative;
}

[platform="Android"] .business-display-picture-wrapper .identity-picture-wrapper,
[platform="iOS"] .business-display-picture-wrapper .identity-picture-wrapper,
[platform="Android"] .employee-display-picture-wrapper .identity-picture-wrapper,
[platform="iOS"] .employee-display-picture-wrapper .identity-picture-wrapper,
[platform="Android"] .customer-display-picture-wrapper .identity-picture-wrapper,
[platform="iOS"] .customer-display-picture-wrapper .identity-picture-wrapper {
    width: 100%;
    height: 100%;
}

.multimedia-container {
    margin-bottom: 8px;
}

.identity-picture-wrapper.view+.error_note {
    bottom: -12px;
}

div#business_contact_name {
    margin-bottom: 20px;
}

.business-contact-number-content-box label,
.business-alternate-contact-number-content-box label {
    position: absolute;
    top: -10px;
}

div#module-admin-list-wrapper {
    flex-flow: column;
    justify-content: unset !important;
}

.super-admin-notification-details-list-title-band {
    display: flex;
    align-items: center;
    @include bizadmin.var(color, whiteTextColor, 1);
}

.super-admin-notification-details-list-title-band span {
    padding: 0 20px;
}

.sent-notification-date,
.expire-notification-date {
    font-size: .74rem;
}

.group-member-search-wrapper .group-member-search-wrapper {
    display: flex;
    align-items: center;
    min-height: 60px;

    .group-member-search-data-container {
        display: flex;
        flex-flow: column;
    }
}


.hub-btn-back {
    width: 40px;
    height: 40px;
    @include bizadmin.bd-radius(50%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 5, 5, .3);
    cursor: pointer;
    pointer-events: auto;
    z-index: 2;
}


.choose-customer-identifier-box {
    position: relative;
    width: 100%;
    display: flex;
}

.customer-identifier-radio-btn-conatiner {
    margin-top: 6px;
    width: 30px;
    height: auto;
}

.customer_identifier_radio_btn {
    position: absolute !important;
    pointer-events: auto !important;
    opacity: 1 !important;
}

.choose-customer-identifier-box-container {
    display: flex;
    position: relative;
    width: 100%;
    @include bizadmin.var(background-color, card-list-bg, 1);
}
.choose-customer-identifier-box {
    margin-bottom: 1px;
    // padding: 10px;
    min-height: 60px;
    @include bizadmin.var(background-color, card-list-bg, 1);
    .choose-customer-identifier-box-container {        
        @include bizadmin.var(background-color, card-list-bg, .0);
        .choose-customer-identifier-wrapper {
            min-height: unset;
            p {
                width: calc(100% - 20px);
                height: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                label {
                    width: calc(100% - 20px);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    @include bizadmin.var(color, whiteTextColor, 1);
                }
                input {
                    &[type="radio"] {
                        + label {
                            &::before, &::after {
                                top: 50%;
                                transform: translateY(-78%);
                            }
                        }
                    }
                }
            }
            .identity-pic-info-wrapper {
                padding: unset;
                min-height: 60px;
                .choose-customer-identifier-type-wrapper {
                    height: 100%;

                    .choose-customer-identifier-name {
                        padding: unset;
                        margin-top: unset;
                        margin-bottom: unset;
                        border: 1px solid rgba(170,170,170,.0);
                    }
                }
            }
        }
    }
}
.choose-customer-identifier-wrapper {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    @include bizadmin.var(background-color, hubsliderbg, 1);
    border-bottom: 1px solid rgba(var(--textColor), 0.095);
    @include bizadmin.var(color, whiteTextColor, 1);
}


.choose-customer-identifier-type-wrapper {
    flex: 1;
    margin-left: 5px;
    display: flex;
    flex-flow: column;
}

[platform="Android"] .choose-customer-identifier-type-wrapper,
[platform="iOS"] .choose-customer-identifier-type-wrapper {
    order: 3 !important;
    margin-left: 20px !important;
}


.choose-customer-identifier-name {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(170, 170, 170, .3);
    background-color: rgba(var(--contentbody), .5);
    @include bizadmin.bd-radius(4px);
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 4px;
    resize: vertical;
    height: auto;
}

.choose-customer-identifier-name:focus {
    border: 1px solid #9e9e9e;
    background-color: rgba(var(--contentbody), .5);
}

[platform="browser"] .identity-pic-info-wrapper,
[platform="desktop"] .identity-pic-info-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    overflow: hidden;
}

[platform="Android"] .identity-pic-info-wrapper,
[platform="iOS"] .identity-pic-info-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    overflow: hidden;
    position: relative;
}

.search-member-button, .search-moderator-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    color: #7fc2b8;
    order: 1;
}

.employee-custom-group-profile-pic-info-wrapper,
.collaborator-group-profile-pic-info-wrapper,
.customer-custom-group-profile-pic-info-wrapper {
    display: flex;
    align-items: center;
}

.communication-group-moderator-members-list,
.communication-group-employee-members-list,
.communication-group-customer-members-list,
.customer-group-members-list {
    &:not(:has(.os-content > div)) {
        @include bizadmin.var(background-color, hubsliderbg, .9);
    }
    .communication-group-moderator-member-wrapper,
    .communication-group-member-wrapper,
    .custom-customer-group-member-wrapper,
    .communication-group-employee-member-wrapper {
        display: flex;
        align-items: center;
        height: 70px;
        position: relative;
        /* background-color: white; */
        margin-bottom: 1px;
        @include bizadmin.var(background-color, hubsliderbg, .9);

        .file-select {
            height: 100%;
            width: 50px;
            padding: 15px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0px;
            z-index: 50;

            .contact-profile-container {
                flex: 0 0 40px;
                width: 40px;
                height: 40px;
                @include bizadmin.bd-radius(50%);
                background-color: grey;
                @include bizadmin.var(color, whiteTextColor, 1);
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                >img[src=""] {
                    display: none;
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                }
            }
        }

        .moderator-data-container,
        .filemanager-file-wrapper {
            >span {
                /* padding-left: 80px; */
                display: flex;
                font-size: 1rem !important;
                @include bizadmin.var(color, whiteTextColor, 1);
            }
        }
    }
}
#customer-group-contacts-items-list-main-container {
    #customer-group-contacts-items-list-wrapper {
        .customer-group-contacts-identifier-wrapper {
            .accordion-title {
                @include bizadmin.var(background-color, hubsliderbg, .9);
            }
            margin-bottom: 1px;
            
        }
    }
}
.customer-group-member-wrapper,
.member-listing-wrapper {
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 1px;
    position: relative;
    @include bizadmin.var(background-color, hubsliderbg, .9);

    .file-select {
        height: 40px;
        width: 40px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0px;
        z-index: 50;

        >i {
            width: 40px;
            height: 40px;
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            transition: all 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }

        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        [type="checkbox"]:checked {
            +i {
                height: 40px;
                width: 40px;
                @include bizadmin.bd-radius(50%);
                position: absolute;
                cursor: pointer;
                pointer-events: auto;
                display: flex !important;
                justify-content: center;
                transition: all 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                opacity: 1;
                @include bizadmin.var(background-color, checkboxSelected, 1);
                @include bizadmin.var(color, blackTextColor, 1);
                z-index: 2;
            }
        }

        .profile-text {
            /* position: absolute; */
            @include bizadmin.var(color, whiteTextColor, 1);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .filemanager-file-wrapper {
        width: 100%;
        // height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 20px;

        span {
            &.communication-group-member-name {
                flex: 0 0 100%;
            }
            &.wrapper-secondary-heading {
                font-size: .7rem!important;
            }
            /* padding-left: 80px; */
            box-sizing: border-box !important;
            @include bizadmin.var(color, whiteTextColor, 1);
        }
    }
}

.custom-customer-group-member-wrapper {
    display: flex;
    align-items: center;
    height: 60px;

    .btn-wrap {
        margin-left: auto;
    }
}

.btn-wrap {
    margin-left: auto;
}

[platform="browser"] [class$="-display-video-wrapper"],
[platform="desktop"] [class$="-display-video-wrapper"] {
    max-width: 310px;
}

[platform="Android"] [class$="-display-video-wrapper"],
[platform="iOS"] [class$="-display-video-wrapper"]  {
    width: 100%;
    padding: 10px 0;
}

// .communication-group-moderator-member-wrapper, .collaborator-group-business-member-wrapper, .collaborator-group-creator-business-wrapper, .collaborator-group-moderator-member-wrapper, .communication-employee-group-moderator-member-wrapper, .employee-group-moderator-member-wrapper, .communication-customer-group-moderator-member-wrapper, .communication-group-moderator-member-wrapper-not-saved {
//     display: flex;
//     align-items: center;
//     height: 70px;
//     position: relative;
//     margin-bottom: 1px;
//     @include bizadmin.var(background-color, hubsliderbg, .9);

// }
.collaborator-contact-selection-list-container {
    display: flex;
    align-items: center;
    min-height: 60px;

    &:not(.selected-row) .checkbox-conatiner {
        display: none;
    }
}
.collaborator-contact-selection-list {
    .collaborator-contact-selection-list-container {
        margin-bottom: 1px;
        padding: 10px;
        @include bizadmin.var(background-color, card-list-bg, 1);
    }
}
.customer-group-customer-edit-icon-parent a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collaborator-group-business-member-wrapper {
    .profile-pic-info-wrapper {
        padding: unset;

        .profile-pic-container {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            flex: 0 0 40px;
        }
    }
}

.business-member-data-wrapper {
    display: block;


    .collaborator-group-business-member-name {
        @include bizadmin.var(color, whiteTextColor, 1);
        display: block;
    }

    .collaborator-group-business-member-status {
        @include bizadmin.var(color, whiteTextColor, 1);
        font-size: .7rem;
    }
}

div[class$=_hub_page_heading] {
    @include bizadmin.var(color, whiteTextColor, 1);
}

.digibiz-notifications-list-title-band {
    display: flex;
    align-items: center;
    padding: 20px;

    span {
        padding-left: 55px;
        @include bizadmin.var(color, whiteTextColor, 1);
    }
}

.survey-list-surveyname-wrapper .survey-name:nth-of-type(1) {
    @include bizadmin.var(color, whiteTextColor, 1);
}

.survey-list-surveyname-wrapper .survey-name:nth-of-type(2) {
    @include bizadmin.var(color, whiteTextColor, .5);
    font-size: .75rem;
}
.survey-list-surveyname-wrapper .survey-name span {
    hyphens: auto;
    white-space: unset;
}
.customer-associate-customer-assignment-name-wrapper .customer-associate-customer-assignment-name {
    @include bizadmin.var(color, whiteTextColor, 1);
    font-size: .8rem;
}

.customer-associate-customer-assignment-name-wrapper .customer-associate-customer-status {
    @include bizadmin.var(color, whiteTextColor, .5);
    font-size: .7rem;
}

.customer-associate-customer-assignment-name-wrapper .customer-associate-customer-assignment-role {
    @include bizadmin.var(color, whiteTextColor, .5);
    font-size: .7rem;
}

.customer-associate-customer-assignment-name-container {
    display: flex;
}

.custom-customer-group-member-information-wrapper {
    display: flex;
    flex-flow: column;
}

.customer-display-picture-wrapper {
    margin-right: 20px;
}