@use "../abstracts" as employeeProfile;

.employee-profile-data-section.employee-profile-section-two {
    // display: flex;
    // flex-wrap: wrap;

    .employee-profile-data-container {
        width: fit-content;
        padding: 10px;
        @include employeeProfile.bd-radius(10px);
        margin: 5px;
        @include employeeProfile.var(background-color, hubappbtn, 1);
        border: 1px solid rgba(var(--b6a, 219, 219, 219), .3);

        .employee-profile-data-label {
            @include employeeProfile.var(color, whiteTextColor, .8);
            font-size: x-small;
            opacity: 0.7;
        }

        .employee-profile-data-value {
            @include employeeProfile.var(color, whiteTextColor, 1);
            /* margin-left: 15px; */
        }
    }
}

.contact-recommend-to-members-selection-list {
    height: 100%;
}
.modal-popup-content {
    .search {
        + .contact-recommend-to-members-selection-list {
            height: calc(100% - 50px);
        }
    }
}