@use "../abstracts" as header;

.business-owner-business-list-title-band,
.employee-business-list-title-band {
    position: sticky;
    top: 0px;
    width: calc(100% - 0px);
    display: flex;
    align-items: center;
    // padding: 0 10px;
    z-index: 2;
    @include header.var(color, mainHeaderTextColor, 1);
    @include header.var(background-color, hubsliderbg, 1);
    margin-bottom: 1px;
    height: 40px;
    margin: auto;
}
.employee-display-name-content-box {
    @include header.var(color, whiteTextColor, 1);
}
.employee-business-list-title-band span.searchbtn {
    margin-left: auto;
}

.prospect-app-hub-page-wrapper-title-band-wrapper {
    position: sticky;
    top: 0px;
    left: 80px;
    right: 20px;
    width: calc(100% - 99px);
    display: flex;
    align-items: center;
    // padding: 0 5px;
    z-index: 2;
    @include header.var(color, mainHeaderTextColor, 1);
    margin-bottom: 1px;
    max-width: 780px;
    + .swiper-wrapper {
        height: calc(100% - 60px);
    }
}

[platform="browser"] .business-owner-business-list-title-band::before,
[platform="browser"] .employee-business-list-title-band::before,
[platform="browser"] .prospect-app-hub-page-wrapper-title-band-wrapper::before,
[platform="browser"] .view-employee-business-apps-land-page-wrapper-title-band-wrapper::before,
[platform="desktop"] .business-owner-business-list-title-band::before,
[platform="desktop"] .employee-business-list-title-band::before,
[platform="desktop"] .prospect-app-hub-page-wrapper-title-band-wrapper::before,
[platform="desktop"] .view-employee-business-apps-land-page-wrapper-title-band-wrapper::before {
    content: "";
    height: 60px;
}

[platform="browser"] .business-owner-business-list-title-band>*,
[platform="desktop"] .business-owner-business-list-title-band>* {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

[platform="iOS"] .business-owner-business-list-title-band>*,
[platform="Android"] .business-owner-business-list-title-band>* {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.hub-btn-back-list-page {
    width: 40px;
    height: 40px;
    @include header.bd-radius(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    @include header.var(color, btnIcnColor, 1);
    @include header.var(background-color, topBtm, 1);
    cursor: pointer;
    pointer-events: auto;
    z-index: 2;
}

.business-owner-business-list-title-band .business-owner-business-list-title-band-wrapper>span:not([class]) {
    @include header.var(color, whiteTextColor, 1);
    margin-left: 50px;
    text-shadow: rgb(0 0 0 / 90%) 0 1px 6px;
}

.business-owner-business-list-title-band-wrapper span.digibiz-business-owner-role-logs,
.business-owner-business-list-title-band-wrapper span.searchbtn {
    padding: 0 10px;
    margin: 0 8px;
    margin-left: 8px;
}

span.digibiz-business-owner-role-logs,
span:not(.digibiz-business-owner-role-logs) + .wrapper-dropdown {
    margin-left: auto !important;
    .wrapper-dropdown {
        border-bottom: unset;
    }
}
span[class$="-heading"] + .wrapper-dropdown {
    margin-left: unset !important;
}
span.digibiz-business-owner-role-logs,
span.searchbtn,
span.searchbtn i {
    height: 35px;
    width: 35px;
    @include header.bd-radius(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    // @include header.var(color,iconColor,1);
    color: #7fc2b8;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1;
}

.business-owner-business-list-title-band-wrapper span.digibiz-business-owner-role-logs,
.business-owner-business-list-title-band-wrapper span.searchbtn {
    padding: 0 10px;
    margin: 0 8px;
}

body[header="off"] #digibiz_header {
    display: none;
}

[platform="browser"] .navbar.bg-primary,
[platform="desktop"] .navbar.bg-primary {
    // position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.header-band {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 15px -15px rgb(0 0 0 / 25%);
    position: relative;
    z-index: 2;

    .activity-back-btn {
        padding: 8px;
        margin: 0px 8px;
        @include header.var(color, whiteTextColor, 1);
        display: flex;
        align-items: center;
    }

    .header-heading-name {
        @include header.var(color, whiteTextColor, 1);
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 0 10px;

        .header_primary {
            font-weight: 600;
        }

        .header_secondary {
            font-size: .75rem;
            font-weight: 300;
            @include header.var(color, whiteTextColor, .8);
        }
    }

    .navigation-wrapper {
        margin-left: auto;
        min-width: 120px;
        max-width: 190px;
        display: flex;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            width: 100%;
            margin-top: 0;

            li.navbar-item {
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                /* width: 40px; */
                height: 40px;

                >a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    @include header.bd-radius(50%);
                    overflow: hidden;
                    cursor: pointer;
                    pointer-events: auto;
                    @include header.var(color, whiteTextColor, 1);
                    .persona {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    >img {
                        width: 35px;
                        height: 35px;
                        height: auto;
                        position: absolute;
                        left: 0;
                        z-index: unset;
                    }
                }
            }
        }
    }
}

[platform="browser"] .navbar.bg-primary .header-band>*,
[platform="desktop"] .navbar.bg-primary .header-band>* {
    height: 60px;
}

[platform="Android"] .navbar.bg-primary .header-band>*,
[platform="iOS"] .navbar.bg-primary .header-band>* {
    height: 56px;
}

// business owner
// [role="business_owner"][header="on"] .header-band, [role="business_owner"] .sidebar-slider-wrapper {
//     background-color: rgba(var(--businessPrimaryColor), 1);
//     -webkit-transition: background-color 220ms cubic-bezier(0, 0, 0.2, 1) 0ms;
//     transition: background-color 220ms cubic-bezier(0, 0, 0.2, 1) 0ms;
// }
[role="business_owner"]:not([header="off"]) .header-band,
[role="business_owner"] .sidebar-slider-wrapper {
    -webkit-transition: background-color 220ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: background-color 220ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

span[class$="-back-btn"].hide+.header-heading-name {
    padding-left: 10px;
}

span.digibiz_notification_count[data-count="0"], .business_notification_count:empty {
    display: none;
}

.digibiz_notification_count,
.business_notification_count {
    position: absolute;
    min-width: 20px;
    height: 20px;
    background-color: red;
    top: 0;
    right: 0;
    border-radius: 20px;
    font-size: .7rem;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
}