@forward "global";
@forward "login";
@forward "appInfo";
@forward "header";
@forward "account";
@forward "view-app-btn";
@forward "tab-content";
@forward "cardList";
@forward "profile-management";
@forward "sidebar";
@forward "module-admin";
@forward "storage";
@forward "app-choose";
@forward "myqrcode";
@forward "employeeType";
@forward "employeeGroupcreate";
@forward "common-list";
@forward "cloudStorage";
@forward "notification";
@forward "bizadmin";
@forward "bizcreate";
@forward "business-profile";
@forward "mycredentials";
@forward "loginconfirmation";
@forward "employee-profile-info";
@forward "customer-profile-info";
@forward "comunication";
