@use "../abstracts" as account-confirm;
.login-account-confirmation-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  width: 100%;
  height: 100%;
  max-height: 330px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  @include account-confirm.var(background-color, accountConfirmBg, 0.85);
  box-shadow: 0 2px 25px -5px rgba(0, 0, 0, 0.35), inset 0 0 0 1px #cdcdcd, inset 0 0 100px -18px #fff;
  @include account-confirm.bd-radius(20px);
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);
  .active-logged-in-user-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.07);
    box-shadow: 0 2px 25px -5px rgba(0,0,0,.35), inset 0 0 0 1px #cdcdcd, inset 0 0 100px -18px #fff;
    @include account-confirm.bd-radius(10px);
    margin: 8px 0 10px;
    .profile-img-display {
      background-color: rgba(0, 0, 0, 0.46);
      @include account-confirm.bd-radius(50%);
      width: 45px;
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-right: 10px;
      .sidebar-right-bg {
        width: 45px;
        height: 45px;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
      }
      img {
        width: 95%;
        height: 95%;
        @include account-confirm.bd-radius(50%);
        z-index: 0;
      }
    }
    .account-user-info {
      display: flex;
      flex-flow: column;
      .username {
        font-size: calc(16px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        margin-top: 0;
        color: rgba(var(--mainHeading), 1);
        @include account-confirm.var(color, mainHeading, 1);
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .mobile {
        font-size: calc(14px + 2 * (100vw - 300px) / 1300);
        @include account-confirm.var(color, mainHeading, 1);
        display: flex;
        align-items: center;
      }
      .active-session-found {
        font-size: .7rem;
        font-style: italic;
      }
    }
  }
  .btn {
    width: 100%;
    height: 40px;
    font-size: min(max(6vw, 0.5rem), 0.82em);
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-transform: none;    
    @include account-confirm.bd-radius(20px);
    &:nth-of-type(1) {
      background-color: #112955!important;
      color: #ffffff!important;
    }
    &.logout-btn {
      &::before {
        content: unset;
      }
    }
  }
}

.btn, .btn-large {
  display: flex;
  align-items: center;
  justify-content: center;
}