@use "../abstracts" as adminmodule;
.digibiz-admin-list-container, .module-admin-list-container {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 1px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    #digibiz-admin-list-data-container, #module-admin-list-data-container {
        width: 100%;
    }
    .employee-wrapper, .pending-employee-wrapper, .module-admin-management-wrapper, .pending-super-admin-wrapper {
        display: flex;
        min-height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        // @include adminmodule.var(background-color,card-list-bg,.1);
        margin-bottom: 1px;
        @include adminmodule.var(color,headerFontColor,.1);
        .profile-pic-info-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            overflow: hidden;
            @include adminmodule.var(color,whiteTextColor,.6);
            height: 100%;
            .module-admin-management-module-name {
                font-size: small;
                @include adminmodule.var(color,whiteTextColor,.6);
            }
        }
    }
}