@use "../abstracts" as mycredentials;

#my_credential_form {
    padding: 5px 15px 0 15px;
    width: 100%;
    // max-width: 820px;
    margin-bottom: 0;
    margin-top: 60px;

    #edit_transaction_image,
    #edit_signature_image {
        min-height: 200px;
        @include mycredentials.var(background-color, hubsliderbg, .4);
        margin: 10px 0;
        width: 100%;
        box-shadow: 0 2px 25px -5px rgb(0 0 0 / 35%), inset 0 0 0 1px #0e4d45, inset 0 0 102px -28px #137d70;

        .pn-border {
            @include mycredentials.var(background-color, cardBackground, .9);
            @include mycredentials.var(background-color, hubsliderbg, .9);
            box-shadow: 0 2px 25px -5px rgb(0 0 0 / 35%), inset 0 0 0 1px rgb(205 205 205), inset 0 0 100px -18px rgb(255 255 255);
            position: relative;
            height: auto;
            // box-shadow: 0 2px 3px -1px var(--cardBoxshadow);
            margin: 0 0 15px 0;
            padding: 0 10px;
            max-width: 800px;
            width: 100%;

            .profile_image_hover {
                position: relative;

                .header_text {
                    padding-left: 8px;

                    div.custom-tooltipped {
                        @include mycredentials.var(color, darkThemeHeader, 1);
                    }
                }

                .pics-wrapper {
                    display: flex;
                    flex-flow: row wrap;
                    align-content: center;
                }
            }
        }

        .my_credentials_headings_container {
            @include mycredentials.var(background-color, hubsliderbg, .99);
            display: flex;
        }

        .transaction_signature_picture_contentbox {
            margin: 0 10px;
        }
        
        .multimedia-container {
            padding: 0px;
        }

        .my_credentials_add_btn {
            margin-left: auto;
            padding: 10px;
            @include mycredentials.var(color, whiteTextColor, 1);
        }

        .my_credentials_headings {
            padding: 10px;
            text-align: center;
            @include mycredentials.var(color, whiteTextColor, 1);
        }

        #transaction_pictures_main_container,
        #signature_pictures_main_container {
            display: flex;
            flex-wrap: wrap;
        }

        img.inactivated {
            filter: grayscale(100%);
            background-color: black;
            // padding: 10px;
        }

        span.picture-used {
            position: absolute;
            color: white;
            font-size: 2rem;
            text-shadow: 2px 2px 12px black;
        }
    }

    #edit_signature_image {
        width: 100%;
    }
}

// .head-text-color, .head-text-color {
//     margin-top: 10px;
// }
.head-text-color,
.head-text-color div.custom-tooltipped {
    color: #F44336 !important;
}
