@use "../abstracts" as myqr;
#my-qr-popup .contact-qr-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-qr-wrapper {
        width: 100%;
        height: 100%;
        max-width: 90%;
        max-height: 90%;
        @include myqr.bd-radius(2px);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        @include myqr.var(background-color, cardBackground,1);
        padding: 50px 60px;
        position: relative;
        .username-wrapper {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            position: relative;
            span:nth-last-of-type(2) {
                font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
                font-weight: 600;
                margin-bottom: 5px;
                @include myqr.var(color, whiteTextColor,.9);
                margin-top: 2px;
            }
            span:nth-last-of-type(1) {
                font-size: .9rem;
                @include myqr.var(color, whiteTextColor,.6);
            }
        }
        #contact-qr-code {
            display: flex;
            align-items: center;
            justify-content: center;
            @include myqr.bd-radius(10px);
            width: 240px;
            canvas {
                box-shadow: 0 0 0 10px rgb(255 255 255 / 50%);
                @include myqr.bd-radius(2px);
                width: 100%;
            }
        }
    }
}
