name: Auto Deploy on Push

on:
  push:
    branches:
      - staging

env:
  BRANCH_NAME: "staging"
  APP_NAME: "Digibiz"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            cd /var/www/html/Apps/Business/${{ env.APP_NAME }}
            git pull origin ${{ env.BRANCH_NAME }}
            
            # Load nvm
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          
            # Use Node version
            nvm use 16
            
            # Clean install
            rm -rf node_modules package-lock.json
          
            # Now run npm
            npm install
